.*
!.git*

# Windows ADS
*:Zone.Identifier

# IDEs
.idea/
.vscode/
.code-workspace

# Secrets
.env
passwords.md
do_not_track

# Python
__pycache__/
.venv/
venv/
dist/

# Overmind
.overmind.sock
logs/

# PostgreSQL
.s.PGSQL.*
pg_data/

# Nix
result
