.*
!.git*

# Windows ADS
*:Zone.Identifier

# IDEs
.idea/
.vscode/
do_not_track

# Secrets
.env
passwords.md

# Python
__pycache__/
.venv/
dist/

# Overmind
.overmind.sock
logs/

# PostgreSQL
.s.PGSQL.*
pg_data/

# Nix
result

# Python
**/venv/
